@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Quicksand', sans-serif;
    color: black;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.column {
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 70px;
}

.column2 {
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 70px;
}

.column3 {
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 70px;
}

.column .description {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: black;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: black;
    width: 100%;
    line-height: 50px;
}

p {
    text-align: justify;
}

.columnpicture {
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 90px;
}

.columnpicture2 {
    margin-top:auto;
    margin-bottom: 50px;
    margin-left: 90px;
}

.columnpicture3 {
    margin-top: auto;
    margin-bottom: 50px;
    margin-left: 90px;
}